<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <h1>Add new listing</h1>
      <form method="post" action="/" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input
            name="listing[title]"
            class="form-control"
            placeholder="Add title here..."
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            name="listing[description]"
            placeholder="Add description here..."
            type="text"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please eneter a short description!</div>
        </div>
        
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image:</label>
          <input
            name="listing[image]" 
            type="file"
            class="form-control"
            required
          />
         
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="form-label" class="price">Price:</label>
            <input name="listing[price]" class="form-control" placeholder="Enter price here..." required/>
          <div class="invalid-feedback">Eneter a valid price!</div> 
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input
              name="listing[country]"
              placeholder="Add country here..."
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country name should be valid!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input
            name="listing[location]"
            placeholder="Add location here..."
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid!</div>
        </div>

        
        <button class="btn btn-dark add-btn">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
